<div class="card info">
    <div class="profile">
        {%- if page.profile.image %}
        {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
        {%- assign profile_image_class = "img-fluid z-depth-1" -%}

        {% include figure.html
        path=profile_image_path
        class=profile_image_class
        alt=page.profile.image
        cache_bust=true -%}
        {% endif -%}
    </div>

    {%- if page.profile.more_info %}
    <div class="more-info">
        {{ page.profile.more_info }}
    </div>
    {%- endif %}

    <div class="container" style="text-align: center;">
        <a class="btn-badge" href="{{ 'resume_roydipta.pdf' | prepend: 'assets/pdf/' | relative_url}}" target="_blank"
            rel="noopener noreferrer">Resume</a>
        <a class="btn-badge" href="{{ 'cv_roydipta.pdf' | prepend: 'assets/pdf/' | relative_url}}" target="_blank"
            rel="noopener noreferrer">CV</a>
        <a class="btn-badge" href="https://scholar.google.com/citations?hl=en&user=j2ElsNIAAAAJ&view_op=list_works&sortby=pubdate" target="_blank"
            rel="noopener noreferrer">Google Scholar</a>
    </div>

    <hr class="seperator">

    <div class="container info-1">
        <h3 class="mb-3">Affiliations</h3>
        {% include affiliations.html %}
    </div>

    <hr class="seperator">

    <!-- Services -->
    <div class="container info-1">
        <h3 class="mb-3">Professional Services</h3>
        <div class="container">
            {% include service.html %}
        </div>
    </div>

    <!-- <hr class="seperator"> -->

    <!-- Subscription -->
    <!-- <div class="container">
        <div class="hero__subscribe">
            <form class="subscribe-form validate"
                action="{% if site.mailchimp.identifier %}//{{site.mailchimp.identifier}}{% else %}#{% endif %}"
                method="POST" target="_blank" novalidate>
                <input class="subscribe-email required email" type="text" name="EMAIL" placeholder="Subscribe to get new posts">
                <button class="subscribe-button" type="submit" name="subscribe">Subscribe</button>
            </form>
        </div>
    </div> -->

    <!-- Recent News -->
    <!-- <div class="container info-1">
        {% if page.news and site.announcements.enabled -%}
        <h3><a href="{{ '/news?utm_source=roydipta.com&utm_medium=about-page' | relative_url }}"
                style="color: inherit;">Recent News
                <div style="font-style: italic; font-size: 1rem; display: inline;">(<a
                        href="/news?utm_source=roydipta.com&utm_medium=about-page">See All</a>)</div>
            </a></h3>
        <div class="container">
            {%- include news.html limit=true %}
        </div>
        {%- endif %}
    </div> -->
</div>