<!-- _includes/projects.html -->
<div class="grid-item {{ project.category | replace: ',', '' | downcase }}" importance="{{ project.importance }}">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
        path=project.img
        alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h4 class="card-title">{{ project.title }}</h4>
          <p class="card-text">{{ project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if project.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if project.github_stars -%}
                  <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                    <i class="fas fa-star"></i>
                    {%- assign github_id = project.github | parse_github_link | replace: '/', '-' | replace: ' ', '-' -%}
                    <span id="{{ github_id }}-stars"></span>
                  </span>
                {%- endif -%}
              </div>
            {%- endif %}

            {%- if project.pdf or project.pdf_url -%}
              <div class="github-icon" style="padding-left: 0.4em;">
                <div class="icon" data-toggle="tooltip" title="Read it!">
                  {%- if project.pdf_url -%}
                    <a href="{{ project.pdf_url }}" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
                  {%- else -%}
                    <a href="{{ project.pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank"><i class="fa-solid fa-file-pdf"></i></a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}

            {% if project.code_repo %}
              <div class="github-icon" style="padding-left: 0.4em;">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ project.code_repo }}" target="_blank"><i class="fa fa-code"></i></a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </a>
</div>
