<!-- unordered list -->
<ul class="pl-2" style="font-size: 0.9rem;">
    <li>
        Reviewed 32+ papers in top ML/NLP/CV conferences (NeurIPS, CVPR, ACL, NAACL, CoNLL)
    </li>
    <li>
        Mentored multiple undergraduate and graduate students in their research
        [
            <a href="https://arxiv.org/pdf/2509.23292" target="_blank" rel="noopener noreferrer">1</a>,
            <a href="https://arxiv.org/pdf/2509.14275" target="_blank" rel="noopener noreferrer">2</a>,
            <a href="https://arxiv.org/pdf/2506.10202" target="_blank" rel="noopener noreferrer">3</a>,
            <a href="https://arxiv.org/pdf/2510.03898" target="_blank" rel="noopener noreferrer">4</a>,
            <a href="https://arxiv.org/pdf/2510.09771" target="_blank" rel="noopener noreferrer">5</a>
        ]

    <!-- <li>
        Participated in 2 International Robotics Competitions (URC @USA, ERC @Poland)
    </li>
    <li>
        Participated in 2 ACM-ICPC Competitions and 25+ National Programming Contests
    </li> -->
</ul>