<div class="alert alert-info m-3 info-1 fancy-container">
    <h3 class="mb-2">Upcoming Travel</h3>
    <div class="container">
        <ul class="pl-2" style="font-size: 0.9rem;">
            <li>
                NeurIPS 2025 in San Diego, CA (Dec 2-7)
            </li>
            <li>
                AACL 2025 in Mumbai, India (Dec 20-24)
            </li>
        </ul>
    </div>
    <span style="font-size:1rem;font-weight:500;vertical-align:middle; color:#3730a3;">👋 I'm open to meet!</span>
    <span style="font-size:1rem;font-weight:500;vertical-align:middle; color:#3730a3;"><a href="mailto:sroydip1@umbc.edu" style="text-decoration:underline; color:#6366f1;font-weight:600;">Email me</a> to schedule a chat!</span>
</div>