---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    {% if page.hide_title != true %}
      <h1 class="post-title">{{ page.title }}
        {% if page.title_link and page.title_icon %}
          <a href="{{ page.title_link }}" target="_blank" rel="noopener noreferrer" class="float-right">
            <i class="{{ page.title_icon }}"></i>
          </a>
        {% endif %}

        {% if page.github %}
          <a href="{{ page.github }}" target="_blank" rel="noopener noreferrer" class="float-right">
            <i class="fab fa-github"></i>
          </a>
        {% endif %}

        {% if page.code_repo %}
          <a href="{{ page.code_repo }}" target="_blank" rel="noopener noreferrer" class="float-right">
            <i class="fa fa-code"></i>
          </a>
        {% endif %}

      </h1>
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if page.social_share -%}
    {% include social_share.html %}
  {%- endif -%}

  {%- if site.giscus and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}
</div>
